@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/* retira a */
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

html,
body {
    font-family: var(--fonte1);
    background-color: white;
    min-height: 100vh;
}

header {
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
}

header h1 {
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 8vw;

}

header a,
footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header p a:hover {
    text-decoration: underline;
}

main {
    font-family: var(--fonte3);
}

section {
    padding-bottom: 10vh;
    padding-top: 10vh;
    margin-left: 40px;
    line-height: 2em;
    font-size: 2.5em;
    
}

@media (max-width: 1200px) {
    section {
        font-size: 2em;
    }
}

@media (max-width: 600px) {
    section {
        font-size: 1.5em;
    }
}

section.imagem {
    box-shadow: inset 6px 6px 10px 0px rgba(0, 0, 0, 0.500);
    padding-bottom: 10vh;
    padding-top: 10vh;
    margin-left: 0px;
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.500);
    text-shadow: 2px 2px 1px gray;
    display: inline-block;
    margin-left: 25px;
    color: white;
    padding: 15px;
}

section.txt p:nth-child(1) {
    margin-bottom: 2em;
}

#imagem1 {
    background: darkgrey url("imagens/background001.jpg") right center no-repeat fixed;
    background-size: cover;
}

#imagem2 {
    background: darkgrey url("imagens/background002.jpg") right center no-repeat fixed;
    background-size: cover;
}

footer {
    font-family: var(--fonte1);
    background-color: black;
    text-align: center;
    font-style: normal;
}

footer p {
    padding: 10px 20px;
    color: white;
}

footer p a:hover {
    text-decoration: underline;

}